<MudPaper Class="@($"{Class} p-1 px-3 d-flex flex-row align-items-center")">
    <h1>Игровые новости w</h1>
    <UserCard Class="ms-auto"/>
</MudPaper>

@code {
    [Parameter] public string? Class { get; set; }
}